TT.Proxy/Connected Services/NetCrackerService/NM.wsdl

<?xml version="1.0" encoding="utf-8"?>
<WL5G3N0:definitions xmlns:WL5G3N3="http://www.amx.com/Schema/Operation/reserveNumbers/V1.0" xmlns:WL5G3N5="http://www.amx.com/CO/Schema/ClaroFault/v1" xmlns:WL5G3N6="http://www.amx.com/Service/NM/V1.0" xmlns:WL5G3N7="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N1="http://www.amx.com/Schema/Operation/getNumbers/V1.0" xmlns:WL5G3N2="http://www.amx.com/Schema/Operation/assignNumbers/V1.0" xmlns:WL5G3N4="http://www.amx.com/Schema/Operation/updateNumbers/V1.0" name="NM" targetNamespace="http://www.amx.com/Service/NM/V1.0" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/">
  <WL5G3N0:types>
    <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.amx.com/Service/NM/V1.0" xmlns:upd="http://www.amx.com/Schema/Operation/updateNumbers/V1.0" xmlns:waccscv="http://www.amx.com/CO/Schema/ClaroFault/v1" xmlns:asg="http://www.amx.com/Schema/Operation/assignNumbers/V1.0" xmlns:get="http://www.amx.com/Schema/Operation/getNumbers/V1.0" xmlns:res="http://www.amx.com/Schema/Operation/reserveNumbers/V1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://172.24.42.211:8002/NetCracker/V2.0?SCHEMA%2FEXP_NM_Inspira%2FResources%2FSchemas%2FassignNumbersV1.0" namespace="http://www.amx.com/Schema/Operation/assignNumbers/V1.0" />
      <xsd:import schemaLocation="http://172.24.42.211:8002/NetCracker/V2.0?SCHEMA%2FUT_DataModel%2FEntities%2FCommonBusiness%2FClaroFault_V1" namespace="http://www.amx.com/CO/Schema/ClaroFault/v1" />
    </xsd:schema>
    <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.amx.com/Service/NM/V1.0" xmlns:upd="http://www.amx.com/Schema/Operation/updateNumbers/V1.0" xmlns:waccscv="http://www.amx.com/CO/Schema/ClaroFault/v1" xmlns:asg="http://www.amx.com/Schema/Operation/assignNumbers/V1.0" xmlns:get="http://www.amx.com/Schema/Operation/getNumbers/V1.0" xmlns:res="http://www.amx.com/Schema/Operation/reserveNumbers/V1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://172.24.42.211:8002/NetCracker/V2.0?SCHEMA%2FEXP_NM_Inspira%2FResources%2FSchemas%2FgetNumbersV1.0" namespace="http://www.amx.com/Schema/Operation/getNumbers/V1.0" />
    </xsd:schema>
    <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.amx.com/Service/NM/V1.0" xmlns:upd="http://www.amx.com/Schema/Operation/updateNumbers/V1.0" xmlns:waccscv="http://www.amx.com/CO/Schema/ClaroFault/v1" xmlns:asg="http://www.amx.com/Schema/Operation/assignNumbers/V1.0" xmlns:get="http://www.amx.com/Schema/Operation/getNumbers/V1.0" xmlns:res="http://www.amx.com/Schema/Operation/reserveNumbers/V1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://172.24.42.211:8002/NetCracker/V2.0?SCHEMA%2FEXP_NM_Inspira%2FResources%2FSchemas%2FreserveNumbersV1.0" namespace="http://www.amx.com/Schema/Operation/reserveNumbers/V1.0" />
    </xsd:schema>
    <xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.amx.com/Service/NM/V1.0" xmlns:upd="http://www.amx.com/Schema/Operation/updateNumbers/V1.0" xmlns:waccscv="http://www.amx.com/CO/Schema/ClaroFault/v1" xmlns:asg="http://www.amx.com/Schema/Operation/assignNumbers/V1.0" xmlns:get="http://www.amx.com/Schema/Operation/getNumbers/V1.0" xmlns:res="http://www.amx.com/Schema/Operation/reserveNumbers/V1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="http://172.24.42.211:8002/NetCracker/V2.0?SCHEMA%2FEXP_NM_Inspira%2FResources%2FSchemas%2FupdateNumbersV1.0" namespace="http://www.amx.com/Schema/Operation/updateNumbers/V1.0" />
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="getNumbersRequestMessage">
    <WL5G3N0:part name="getNumbersRequestPart" element="WL5G3N1:getNumbers" />
  </WL5G3N0:message>
  <WL5G3N0:message name="getNumbersResponseMessage">
    <WL5G3N0:part name="getNumbersResponsePart" element="WL5G3N1:getNumbersResp" />
  </WL5G3N0:message>
  <WL5G3N0:message name="assignNumbersRequestMessage">
    <WL5G3N0:part name="getNumbersRequestPart" element="WL5G3N2:assignNumbers" />
  </WL5G3N0:message>
  <WL5G3N0:message name="assignNumbersResponseMessage">
    <WL5G3N0:part name="getNumbersResponsePart" element="WL5G3N2:assignNumbersResp" />
  </WL5G3N0:message>
  <WL5G3N0:message name="reserveNumbersRequestMessage">
    <WL5G3N0:part name="getNumbersRequestPart" element="WL5G3N3:reserveNumbers" />
  </WL5G3N0:message>
  <WL5G3N0:message name="reserveNumbersResponseMessage">
    <WL5G3N0:part name="getNumbersResponsePart" element="WL5G3N3:reserveNumbersResp" />
  </WL5G3N0:message>
  <WL5G3N0:message name="updateNumbersRequestMessage">
    <WL5G3N0:part name="getNumbersRequestPart" element="WL5G3N4:updateNumbers" />
  </WL5G3N0:message>
  <WL5G3N0:message name="updateNumbersResponseMessage">
    <WL5G3N0:part name="getNumbersResponsePart" element="WL5G3N4:updateNumbersResp" />
  </WL5G3N0:message>
  <WL5G3N0:message name="ClaroFault">
    <WL5G3N0:part name="ClaroFault" element="WL5G3N5:claroFault" />
  </WL5G3N0:message>
  <WL5G3N0:portType name="NM_ptt">
    <WL5G3N0:operation name="getNumbers">
      <WL5G3N0:input message="WL5G3N6:getNumbersRequestMessage" />
      <WL5G3N0:output message="WL5G3N6:getNumbersResponseMessage" />
      <WL5G3N0:fault name="ClaroFault" message="WL5G3N6:ClaroFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="assignNumbers">
      <WL5G3N0:input message="WL5G3N6:assignNumbersRequestMessage" />
      <WL5G3N0:output message="WL5G3N6:assignNumbersResponseMessage" />
      <WL5G3N0:fault name="ClaroFault" message="WL5G3N6:ClaroFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="reserveNumbers">
      <WL5G3N0:input message="WL5G3N6:reserveNumbersRequestMessage" />
      <WL5G3N0:output message="WL5G3N6:reserveNumbersResponseMessage" />
      <WL5G3N0:fault name="ClaroFault" message="WL5G3N6:ClaroFault" />
    </WL5G3N0:operation>
    <WL5G3N0:operation name="updateNumbers">
      <WL5G3N0:input message="WL5G3N6:updateNumbersRequestMessage" />
      <WL5G3N0:output message="WL5G3N6:updateNumbersResponseMessage" />
      <WL5G3N0:fault name="ClaroFault" message="WL5G3N6:ClaroFault" />
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="NM_ptt-binding" type="WL5G3N6:NM_ptt">
    <WL5G3N7:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <WL5G3N0:operation name="getNumbers">
      <WL5G3N7:operation soapAction="getNumbers" style="document" />
      <WL5G3N0:input>
        <WL5G3N7:body use="literal" namespace="http://www.amx.com/Service/NM/V1.0" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N7:body use="literal" namespace="http://www.amx.com/Service/NM/V1.0" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="ClaroFault">
        <WL5G3N7:fault use="literal" name="ClaroFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="assignNumbers">
      <WL5G3N7:operation soapAction="assignNumbers" style="document" />
      <WL5G3N0:input>
        <WL5G3N7:body use="literal" namespace="http://www.amx.com/Service/NM/V1.0" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N7:body use="literal" namespace="http://www.amx.com/Service/NM/V1.0" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="ClaroFault">
        <WL5G3N7:fault use="literal" name="ClaroFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="reserveNumbers">
      <WL5G3N7:operation soapAction="reserveNumbers" style="document" />
      <WL5G3N0:input>
        <WL5G3N7:body use="literal" namespace="http://www.amx.com/Service/NM/V1.0" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N7:body use="literal" namespace="http://www.amx.com/Service/NM/V1.0" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="ClaroFault">
        <WL5G3N7:fault use="literal" name="ClaroFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="updateNumbers">
      <WL5G3N7:operation soapAction="updateNumbers" style="document" />
      <WL5G3N0:input>
        <WL5G3N7:body use="literal" namespace="http://www.amx.com/Service/NM/V1.0" />
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N7:body use="literal" namespace="http://www.amx.com/Service/NM/V1.0" />
      </WL5G3N0:output>
      <WL5G3N0:fault name="ClaroFault">
        <WL5G3N7:fault use="literal" name="ClaroFault" namespace="" />
      </WL5G3N0:fault>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="NM_ptt-bindingQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port name="NM_ptt-bindingQSPort" binding="WL5G3N6:NM_ptt-binding">
      <WL5G3N7:address location="http://172.24.42.211:8002/NetCracker/V2.0" />
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>